@model XNuvem.Web.Models.ChangePasswordViewModel
@using XNuvem.Mvc.Html

<section class="content-header">
    <h1>Alterar senha <small>Alterar a senha atual</small></h1>
</section>

<section class="content">
    @using (Html.XNBeginForm("ChangePassword", "SettingsUser", "settings")) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-lg-10">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            @Html.EditorFor(m => m.OldPassword)
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            @Html.EditorFor(m => m.Password)
                            @Html.EditorFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success" title="Salvar" data-xn-save>Salvar</button>
                </div>
            </div>
        </div>
    </div>
    }
</section>


