@using XNuvem.UI.Messages;

@model IEnumerable<MessageEntry>

<p>FROM MODEL</p>
<ul>    
    @if (Model.Any()) {
        foreach (var item in Model) {
            <li>@item.Type - @item.Message</li>
        }
    }
</ul>