@{
    ViewBag.Title = "- Home Page";
}


<section class="content-header">
    <h1>Bem vindo ao Business Suite<small>Sistema de pedidos Online</small></h1>
</section>

<section class="content">
    <h3><img src="~/Content/img/bg_home.jpg" alt="Business Suite" style="width: 100%;" /></h3>
</section>